.item {
  padding: 10px 0;
}

.text_name {
  font-weight: 700;
}

.text_name::first-letter {
  text-transform: uppercase;
}

.deleteBtn {
  background-color: var(--red-color);
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
}

.deleteBtn:hover {
  cursor: pointer;
  box-shadow: var(--shadow);
}

@media (max-width: 767px) {

  .deleteBtn {
    font-size: 12px;
    padding: 0.4rem;
  }
}