.item {
  padding: 10px 0;
}
.text_name{
  font-weight: 700;
}
.text_name::first-letter{
  text-transform: uppercase;
}

.text {
  display: inline-block;
  margin-right: 15px;
}

.deleteBtn {
  background-color: var(--red-color);
  color: var(--white-color);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.deleteBtn:hover {
  cursor: pointer;
  box-shadow: var(--shadow);
}

@media (max-width: 480px) {
  .btnText {
    display: none;
  }
}