.label {
  display: block;
  text-align: center;
  font-weight: 700;
  margin: 3rem auto 2rem;
}

.input {
  margin-left: 1rem;
  padding: 5px 5px;
  border: none;
  outline: 2px solid var(--main-color);
  box-shadow: var(--shadow);
  border-radius: 5px;
}