.form {
  text-align: left;
  margin: auto;
  background-color: var(--main-color);
  box-shadow: var(--shadow);
  padding: 30px 20px 20px;
  border-radius: 5px;
  max-width: 360px;
}

.label {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.label+.label {
  margin-top: 20px;
}

.input {
  width: 65%;
  box-shadow: var(--shadow);
  border: none;
  outline: 2px solid var(--main-color);
  border-radius: 5px;
  background: white;
  padding: 5px 5px;
}

.addBtn {
  margin-left: auto;
  margin-top: 20px;
  font-weight: 600;
  background-color: var(--green-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
}

 @media (max-width: 767px) {
   .form, .addBtn, .input {
     font-size: 12px;
   }
 }