.title {
  font-weight: 700;
  margin-top: 1.5rem;
}

.form {
  width: 320px;
  margin: auto;
  text-align: left;
  background-color: var(--main-color);
  padding: 30px 20px 20px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.label {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.label+.label {
  margin-top: 20px;
}

.input {
  width: 65%;
  box-shadow: var(--shadow);
  border: none;
  outline: 2px solid var(--main-color);
  border-radius: 5px;
  background: white;
  padding: 5px 5px;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 0.5rem 1rem;
  margin-top: 20px;
  font-weight: 600;
  background-color: var(--green-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
}