.container {
  padding: 20px 20px;
  text-align: left;
  background-color: rgb(255, 250, 244);
  border-radius: 5px;
}

.list {
  text-align: left;
  padding: 0;
}

.title{
  font-size: 18px;
  text-align: center;
}
